@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-image:
    linear-gradient(to bottom, rgba(46, 49, 146, 0.8), rgba(46, 49, 146, 0.7)),
    url('../img/bg2.jpg');
    background-size: cover;
    background-position: bottom right;
      margin: 0;
      height: 100%;
  }

nav {
    display: grid;
    color: rgb(46, 49, 146);
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    align-items: center;
    padding: 0 .5rem;
    height: 3rem;
}

.title {
    display: inline-block;
    height: 2.8rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav .menu {
    display: grid;
    justify-items: end;
}

nav .menu ul {
    list-style: none;
    display: inline-block;
    margin: 0;
}

nav .menu li {
    display: inline-block;
    padding: 0 .5rem;
    font-weight: 700;
    font-size: 1rem;
}

nav .menu li a {
    text-decoration: none;
    color: rgb(46, 49, 146);
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: #ffffff;
    width: 70%;
    margin: 10rem auto;
}

.intro .intro-text {
    height: 100%;
    font-size: 1.65rem;
    font-weight: 200;
    padding: 0 0 0 2rem;
    border-left: 0.1rem white solid;
}

.intro .heading {
    height: 100%;
    font-size: 4.2rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-align: end;
    padding: 0 2rem 0 0;
    border-right: 0.1rem white solid;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .intro {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
    }

    .intro .intro-text {
        font-size: 1rem;
        padding: 1rem 0 0 0;
        border-left: 0;
        border-top: 0.1rem white solid;
    }
    
    .intro .heading {
        font-size: 2rem;
        text-align: left;
        padding: 3rem 0 0 0;
        border-right: 0;
        border-bottom: 0.1rem white solid;
    }
  }